<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49873471605-l8kv40d1222n5sjpm9g82mi2oggneihh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49873471605-l8kv40d1222n5sjpm9g82mi2oggneihh</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ZhAWk8YASUD_na-a3MXrFiGvGhtSo2o</string>
	<key>GCM_SENDER_ID</key>
	<string>49873471605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghanayem.joAmman</string>
	<key>PROJECT_ID</key>
	<string>doctorsassociation-93113</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorsassociation-93113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49873471605:ios:3edaad8bbf03f38398d03c</string>
</dict>
</plist>